<div class="container"> 
    <h2>
        Bonjour  {{user.firstname | uppercase}} <br>
    </h2>
</div>

<div class="container mt-5">
    <h3>Ajoutez un utilisateur</h3>
    <form (ngSubmit)="onSubmit()">
        <ul>
            <div class="row">
                <li class="col-12">
                    <div class="row">
                        <span class="col-10 col-lg-2">Prenom : </span><input class="col-10 col-lg-4 form-control m-2 mx-auto w-25" required minlength="4" type="text" name="firstname"  id="firstname" required [(ngModel)]="userForm.firstname" #firstname="ngModel">
                    </div>
                </li>
            </div>
            <p *ngIf = "firstnameMissing" class="FormError">Ce champ ne peut pas être vide.</p>
            <div class="row">
                <li class="col-12">
                    <div class="row">
                        <span class="col-10 col-lg-2">Nom : </span><input class="col-10 col-lg-4 form-control m-2 mx-auto w-25" type="text" name="lastname"  id="lastname" required [(ngModel)]="userForm.lastname">
                    </div>
                </li>
            </div>
            <p *ngIf = "lastnameMissing" class="FormError">Ce champ ne peut pas être vide.</p>
            <div class="row">                         
                <li class="col-12">
                    <div class="row">
                        <span class="col-10 col-lg-2">Numéro de téléphone : </span> <input class="col-10 col-lg-4 form-control m-2 mx-auto w-25" type="text"  name="phone"  id="phone" required [(ngModel)]="userForm.phone">
                    </div>                            
                </li>
            </div>
            <p *ngIf = "phoneMissing" class="FormError">Ce champ ne peut pas être vide.</p>
            <div class="row">                         
                <li class="col-12">
                    <div class="row">
                        <span class="col-10 col-lg-2">Email : </span> <input class="col-10 col-lg-4 form-control m-2 mx-auto w-25" type="text"  name="email"  id="email" required [(ngModel)]="userForm.email">
                    </div>                            
                </li>
            </div>
            <p *ngIf = "emailMissing" class="FormError">Ce champ ne peut pas être vide.</p>
            <p *ngIf = "emailUnvalid" class="FormError">L'email n'est pas une adresse valide.</p>
            <div class="row">                         
                <li class="col-12">
                    <div class="row">
                        <span class="col-10 col-lg-2">password : </span> <input class="col-10 col-lg-4 form-control m-2 mx-auto w-25" type="password"  name="password"  id="password" required [(ngModel)]="userForm.password">
                    </div>                            
                </li>
            </div>
            <p *ngIf = "pswUnvalid" class="FormError">Votre mot de passe doit contenir minimum 8 caractéres et contenir au moins un nombre et une majuscule.</p>
            <p *ngIf = "pswUnvalid2" class="FormError">Votre mot de passe doit contenir au moins un nombre et une majuscule.</p>
            <p *ngIf = "pswUnvalid3" class="FormError">Votre mot de passe doit contenir au moins une majuscule.</p>
            <p *ngIf = "pswUnvalid4" class="FormError">Votre mot de passe doit contenir au moins un nombre.</p>
            <p *ngIf = "pswMissing" class="FormError">Ce champ ne peut pas être vide.</p>
        </ul>
        <div class="row">
            <div class="col-sm-2">
                <input type="submit" class="btn bouton boutonsMaterial" value="Ajouter">
            </div>
        </div>
    </form>
</div>