<div class="container"> 
    <h2>
        Bonjour  {{user.firstname | uppercase}} <br>
    </h2>
</div>

<div class="container mt-5">
    <h3>Utilisateurs disponibles</h3>
    <li *ngFor="let obj of users"><a href="">{{obj.firstname}} {{obj.lastname}}</a></li>
</div>